/* line 1, ../sass/document.scss */
body {
  margin: 0;
  padding: 0;
  float: none;
}

/* line 7, ../sass/document.scss */
h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

/* line 12, ../sass/document.scss */
.print-page {
  height: 267mm;
  width: 100%;
  float: left;
}
/* line 18, ../sass/document.scss */
.print-page .header-surat {
  float: left;
  width: 100%;
  height: 30mm;
  padding-bottom: 5mm;
  margin-bottom: 5mm;
  border-bottom-style: double;
}
/* line 31, ../sass/document.scss */
.print-page .header-surat table .header-logo {
  width: 25mm;
}
/* line 34, ../sass/document.scss */
.print-page .header-surat table .header-logo img {
  max-width: 24mm;
}
/* line 39, ../sass/document.scss */
.print-page .header-surat table .header-title {
  width: 170mm;
}
/* line 42, ../sass/document.scss */
.print-page .header-surat table .header-title .title-nama {
  width: 100%;
  float: right;
}
/* line 46, ../sass/document.scss */
.print-page .header-surat table .header-title .title-nama h3 {
  text-align: center;
}
/* line 50, ../sass/document.scss */
.print-page .header-surat table .header-title .title-nama p {
  text-align: center;
  padding-bottom: 10px;
}
/* line 56, ../sass/document.scss */
.print-page .header-surat table .header-title .title-alamat {
  float: right;
}
/* line 58, ../sass/document.scss */
.print-page .header-surat table .header-title .title-alamat p {
  text-align: center;
}
/* line 67, ../sass/document.scss */
.print-page .isi-surat {
  float: left;
  width: 100%;
}
/* line 71, ../sass/document.scss */
.print-page .isi-surat .surat-title {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
/* line 78, ../sass/document.scss */
.print-page .isi-surat .surat-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 83, ../sass/document.scss */
.print-page .isi-surat p {
  padding: 10px 0 10px 0;
  word-wrap: break-word;
  text-align: justify;
}
/* line 89, ../sass/document.scss */
.print-page .isi-surat table {
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
}
/* line 95, ../sass/document.scss */
.print-page .isi-surat table tr th, .print-page .isi-surat table tr td {
  border: solid black 1px;
  padding: 1.5mm;
  margin: 0;
}
