@font-face {
  font-family: roboto_light;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto_condensed_regular;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: roboto_condensed;
  src: url("../fonts/RobotoCondensed-Light.ttf");
}

/* line 19, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: roboto_condensed_regular;
}

/* line 26, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_fonts.scss */
p {
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
}
/* line 32, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_fonts.scss */
p .center {
  text-align: center;
}
/* line 36, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_fonts.scss */
p .left {
  text-align: left;
}
/* line 40, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_fonts.scss */
p .right {
  text-align: right;
}
/* line 44, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_fonts.scss */
p .justify {
  text-align: justify;
}

/* line 10, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  font-family: roboto_condensed;
  font-size: 15px;
  background-color: #f0efe8;
}

/* line 33, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed {
  z-index: 5;
  float: left;
  position: fixed;
  width: 100%;
  background-color: #2c82d8;
}
/* line 42, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content {
  margin: auto;
  width: 100%;
  float: left;
}
/* line 48, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row {
  height: 26px;
}
/* line 52, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-image {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}
/* line 63, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-image img {
  max-width: 74px;
  margin: auto;
}
/* line 69, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper {
  width: calc(100% - 114px);
  float: left;
}
/* line 74, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-title-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: white;
}
/* line 83, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-title-wrapper .nav-title {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 95, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-wrapper {
  position: relative;
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
  float: left;
  font-family: roboto_condensed;
  font-size: 14px;
  color: white;
}
/* line 110, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-wrapper .nav-item {
  color: white;
}
/* line 114, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-wrapper .nav-item li {
  text-align: center;
  float: left;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 128, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-wrapper .nav-item:hover li {
  background-color: #15477b;
}
/* line 140, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-sub {
  width: 80px;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}
/* line 152, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-sub a {
  color: white;
}
/* line 160, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-item-wrapper {
  display: none;
  z-index: 2;
  position: fixed;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 280px;
  list-style: none;
}
/* line 176, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-item-wrapper .sub-nav-item {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 182, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-item-wrapper .sub-nav-item li {
  text-align: left;
  background-color: #2c82d8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 199, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-item-wrapper .sub-nav-item:hover li {
  background-color: #15477b;
}
/* line 205, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-sub:hover {
  background-color: #15477b;
}
/* line 209, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .nav-item-sub:hover .sub-nav-item-wrapper {
  display: inherit;
}
/* line 214, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch:hover {
  background-color: #15477b;
}
/* line 219, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch {
  background-color: #2c82d8;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
/* line 229, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 237, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch .sub-nav-branch-wrapper {
  float: left;
  padding: 0;
  margin: 0;
  display: none;
  margin-top: -26px;
  margin-left: 280px;
  background-color: #2c82d8;
  list-style: none;
  float: left;
  position: fixed;
  width: 280px;
}
/* line 260, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch .sub-nav-branch-wrapper .sub-nav-branch-item {
  margin: 0;
  padding: 0;
}
/* line 266, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch .sub-nav-branch-wrapper .sub-nav-branch-item li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 283, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch:hover .sub-nav-branch-wrapper {
  display: inherit;
}
/* line 287, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_header.scss */
.nav-fixed .nav-content .nav-row .nav-row-wrapper .sub-nav-branch:hover .sub-nav-branch-wrapper .sub-nav-branch-item:hover li {
  background-color: #15477b;
}

/* line 6, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
form {
  width: 100%;
}

/* line 13, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
form[role="form"] input[type="text"] {
  background-color: black;
  border: 0;
}
/* line 21, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
form[role="form"] input[type="checkbox"] {
  display: none;
}
/* line 25, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
form[role="form"] input[type="checkbox"] + label {
  display: inline-block;
  background-color: red;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
/* line 34, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
form[role="form"] input[type="checkbox"]:checked + label {
  display: inline-block;
  background-color: blue;
  cursor: pointer;
}

/* line 43, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
form[role="form-horizontal"] {
  float: right;
  padding: 0;
  margin: 0;
}

/* line 53, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
.form-content {
  width: calc(100% - 20px);
  float: left;
  padding: 10px;
}
/* line 59, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
.form-content label {
  width: 50%;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
}
/* line 66, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
.form-content input {
  float: left;
  border: 0;
  padding: 8px;
  border-radius: 4px;
  outline: 0;
}
/* line 76, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_form.scss */
.form-content input[type="text"] {
  background-color: red;
  width: 50%;
}

/* line 27, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
form {
  padding: 0;
  margin: 0;
}

/* line 32, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.container.one-page {
  float: left;
  width: 100%;
  height: calc(100% - 122px);
}

/* line 38, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.container {
  margin: auto;
  float: left;
  margin-top: 84px;
  width: 100%;
}
/* line 47, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.container .container-title {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  float: left;
}
/* line 54, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.container .container-title .title-item {
  width: 98%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: roboto_condensed_regular;
  background-color: white;
}
/* line 76, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.container .row {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 89, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.footer.sticky {
  position: static;
}

/* line 93, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.footer {
  float: left;
  width: 100%;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2C82D8;
  color: white;
}
/* line 106, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_body.scss */
.footer p[class="center"] {
  width: 100%;
  text-align: center;
}

/* line 26, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper, .container {
  float: left;
  width: 100%;
}
/* line 31, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav, .container .table-nav {
  float: left;
  width: 100%;
}
/* line 39, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu, .container .table-nav .nav-menu {
  width: 100%;
  float: left;
  background-color: white;
}
/* line 46, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left, .container .table-nav .nav-menu .menu-left, .table-wrapper .table-nav .nav-menu .menu-right, .container .table-nav .nav-menu .menu-right {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(50% - 20px);
}
/* line 59, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item.wide, .container .table-nav .nav-menu .menu-left .table-form-content .form-item.wide, .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item.wide, .container .table-nav .nav-menu .menu-right .table-form-content .form-item.wide {
  width: calc(50% - 10px);
}
/* line 63, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item, .container .table-nav .nav-menu .menu-left .table-form-content .form-item, .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item, .container .table-nav .nav-menu .menu-right .table-form-content .form-item {
  float: left;
  width: calc(25% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}
/* line 74, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item input, .container .table-nav .nav-menu .menu-left .table-form-content .form-item input, .table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item button, .container .table-nav .nav-menu .menu-left .table-form-content .form-item button, .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item input, .container .table-nav .nav-menu .menu-right .table-form-content .form-item input, .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item button, .container .table-nav .nav-menu .menu-right .table-form-content .form-item button {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 12px;
}
/* line 89, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item input[type='submit'], .container .table-nav .nav-menu .menu-left .table-form-content .form-item input[type='submit'], .table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item button, .container .table-nav .nav-menu .menu-left .table-form-content .form-item button, .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item input[type='submit'], .container .table-nav .nav-menu .menu-right .table-form-content .form-item input[type='submit'], .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item button, .container .table-nav .nav-menu .menu-right .table-form-content .form-item button {
  background-color: #00B240;
  color: white;
  cursor: pointer;
}
/* line 95, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item input[type="text"], .container .table-nav .nav-menu .menu-left .table-form-content .form-item input[type="text"], .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item input[type="text"], .container .table-nav .nav-menu .menu-right .table-form-content .form-item input[type="text"] {
  background-color: white;
  border: solid #8A8F89 1px;
}
/* line 100, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item button, .container .table-nav .nav-menu .menu-left .table-form-content .form-item button, .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item button, .container .table-nav .nav-menu .menu-right .table-form-content .form-item button {
  cursor: pointer;
}
/* line 104, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left .table-form-content .form-item .form-option, .container .table-nav .nav-menu .menu-left .table-form-content .form-item .form-option, .table-wrapper .table-nav .nav-menu .menu-right .table-form-content .form-item .form-option, .container .table-nav .nav-menu .menu-right .table-form-content .form-item .form-option {
  width: 100%;
  border: 0;
  outline: none;
  height: 37px;
}
/* line 118, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-left, .container .table-nav .nav-menu .menu-left {
  float: left;
}
/* line 122, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-menu .menu-right, .container .table-nav .nav-menu .menu-right {
  float: right;
}
/* line 131, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-table table, .container .table-nav .nav-table table {
  float: left;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
/* line 138, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-table table tr, .container .table-nav .nav-table table tr {
  border-top: solid #D5D5D5 1px;
  width: 100%;
}
/* line 144, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-nav .nav-table table tr th, .container .table-nav .nav-table table tr th {
  background-color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 15px;
  font-family: roboto_condensed_regular;
  font-weight: bold;
  border-bottom: solid #D5D5D5 1px;
}
/* line 163, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper .table-content, .container .table-content {
  clear: both;
  width: 100%;
  height: calc(100% - 149px);
  overflow: auto;
}
/* line 171, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"], .container table[role="table-fluid"] {
  float: left;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
/* line 177, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr, .container table[role="table-fluid"] tr {
  border-top: solid #D5D5D5 1px;
  width: 100%;
}
/* line 182, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr th, .container table[role="table-fluid"] tr th {
  background-color: white;
}
/* line 187, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td, .container table[role="table-fluid"] tr td {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 10.5pt;
}
/* line 201, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td .row-item, .container table[role="table-fluid"] tr td .row-item {
  margin-left: 25%;
  width: 50%;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
/* line 211, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td .ya, .container table[role="table-fluid"] tr td .ya {
  background-color: #00B240;
}
/* line 215, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td .tidak, .container table[role="table-fluid"] tr td .tidak {
  background-color: #DC3247;
}
/* line 219, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td .button-group, .container table[role="table-fluid"] tr td .button-group {
  width: 100%;
  margin: auto;
  float: left;
  background-color: red;
  text-align: center;
}
/* line 227, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td .button-group a, .container table[role="table-fluid"] tr td .button-group a {
  width: auto;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
/* line 239, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td .button-group a.edit, .container table[role="table-fluid"] tr td .button-group a.edit {
  background-color: yellow;
}
/* line 248, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr td .btn-load-more, .container table[role="table-fluid"] tr td .btn-load-more {
  width: 40%;
  border: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #332DCC;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
/* line 269, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr:nth-child(even), .container table[role="table-fluid"] tr:nth-child(even) {
  background-color: white;
}
/* line 273, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr:nth-child(odd), .container table[role="table-fluid"] tr:nth-child(odd) {
  background-color: #F7F7F7;
}
/* line 277, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_table.scss */
.table-wrapper table[role="table-fluid"] tr:hover, .container table[role="table-fluid"] tr:hover {
  background-color: #444444;
  color: white;
}

/* line 5, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form {
  clear: both;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: white;
}
/* line 14, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper {
  width: 98%;
  height: 100%;
  margin: auto;
}
/* line 20, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-1-column {
  width: 100%;
}
/* line 23, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-1-column .form-group:nth-child(even) {
  background-color: #ECF0F1;
}
/* line 27, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-1-column .form-group {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 34, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-1-column .form-group label {
  float: left;
  width: calc(50%  - 20px);
  padding-top: 11.33333px;
  padding-bottom: 11.33333px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
/* line 48, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-1-column .form-group .form-item {
  width: calc(50% - 10px);
  float: left;
}
/* line 52, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-1-column .form-group .form-item input[type="text"] {
  font-family: roboto_condensed;
  font-size: 15px;
  width: 100%;
  border: solid #436AB7 1pt;
  border-radius: 5px;
  padding: 10px;
  outline: 0;
}
/* line 66, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-1-column .form-group .form-item select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: solid #436AB7 1pt;
  font-family: roboto_condensed;
  font-size: 15px;
}
/* line 95, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-2-column .form-left {
  float: left;
  background-color: blue;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 102, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_onepage.scss */
.page-form .form-wrapper .form-2-column .form-right {
  background-color: yellow;
  float: left;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 3, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
.modal {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}

@keyframes fadein {
  /* line 12, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  from {
    opacity: 0;
  }

  /* line 13, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  to {
    opacity: 0.5s;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  /* line 18, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  from {
    opacity: 0;
  }

  /* line 19, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  to {
    opacity: 0.5s;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  /* line 24, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  from {
    opacity: 0;
  }

  /* line 25, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  to {
    opacity: 0.5s;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  /* line 30, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  from {
    opacity: 0;
  }

  /* line 31, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  to {
    opacity: 0.5s;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  /* line 36, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  from {
    opacity: 0;
  }

  /* line 37, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_animation.scss */
  to {
    opacity: 0.5s;
  }
}

/* line 3, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal {
  width: 100%;
  height: 100%;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background: rgba(30, 30, 30, 0.9);
  overflow: auto;
}
/* line 16, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .small {
  width: 50%;
}
/* line 20, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .large {
  width: 80%;
}
/* line 24, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container {
  clear: both;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E4E1D9;
}
/* line 34, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .insert {
  background-color: #469dd3;
}
/* line 38, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .update {
  background-color: #D97926;
}
/* line 42, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .delete {
  background-color: #CB453C;
}
/* line 46, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-header {
  width: calc(100% - 20px);
  color: white;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 63, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-header h2, .modal .modal-container .modal-header h3 {
  float: left;
}
/* line 67, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-header .button-close {
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #DC3247;
  border-radius: 5px;
  border: solid white 1px;
  text-decoration: none;
  color: white;
}
/* line 88, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body {
  width: calc(100% - 20px);
  height: auto;
  padding: 10px;
  float: left;
  background-color: white;
}
/* line 97, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid gray 1px;
  float: left;
}
/* line 109, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .summary-title {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 116, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left, .modal .modal-container .modal-body .body-summary .body-summary-right {
  width: calc(50% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
/* line 124, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left .summary-item, .modal .modal-container .modal-body .body-summary .body-summary-right .summary-item {
  width: 100%;
  float: left;
}
/* line 128, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left .summary-item .summary-item-label, .modal .modal-container .modal-body .body-summary .body-summary-left .summary-item .summary-item-value, .modal .modal-container .modal-body .body-summary .body-summary-right .summary-item .summary-item-label, .modal .modal-container .modal-body .body-summary .body-summary-right .summary-item .summary-item-value {
  width: calc(50% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 136, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left .summary-item .summary-item-label, .modal .modal-container .modal-body .body-summary .body-summary-right .summary-item .summary-item-label {
  float: left;
}
/* line 139, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left .summary-item .summary-item-value, .modal .modal-container .modal-body .body-summary .body-summary-right .summary-item .summary-item-value {
  float: right;
}
/* line 144, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left .summary-item:nth-child(odd), .modal .modal-container .modal-body .body-summary .body-summary-right .summary-item:nth-child(odd) {
  background-color: #F7F7F7;
}
/* line 147, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left .summary-item:nth-child(even), .modal .modal-container .modal-body .body-summary .body-summary-right .summary-item:nth-child(even) {
  background-color: white;
}
/* line 152, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-left {
  float: left;
}
/* line 156, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-summary .body-summary-right {
  float: right;
}
/* line 163, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper {
  width: 100%;
  margin-top: 10px;
}
/* line 168, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-nav {
  width: 100%;
  height: auto;
  float: left;
}
/* line 174, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-nav .tab-nav-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
}
/* line 180, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-nav .tab-nav-wrapper .tab-nav-item {
  padding: 10px;
  float: left;
  background-color: #4192D9;
  color: white;
  cursor: pointer;
}
/* line 193, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-nav .tab-nav-wrapper .enable {
  background-color: #004B8D;
}
/* line 197, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-nav .tab-nav-wrapper .tab-nav-item:hover {
  background-color: #004B8D;
}
/* line 207, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  border-top: solid gray 1px;
}
/* line 216, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content {
  width: 100%;
  float: left;
}
/* line 221, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-title {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  float: left;
  font-size: 18px;
  font-family: roboto_condensed_regular;
  border-bottom: solid gray 1px;
}
/* line 235, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide {
  width: calc(100% - 20px);
}
/* line 238, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide .content-form-label {
  width: calc(50% - 5px);
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  word-wrap: break-word;
}
/* line 250, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide .content-form-input {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}
/* line 257, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide .content-form-input input, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide .content-form-input textarea, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide .content-form-input select {
  font-family: roboto_condensed;
  font-size: 15px;
  border-radius: 4px;
  border: solid gray 1px;
}
/* line 265, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide .content-form-input input[type="text"] {
  width: 100%;
  padding: 5px;
}
/* line 271, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-wide .content-form-input textarea {
  resize: none;
  width: 100%;
  padding: 5px;
}
/* line 281, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right {
  width: calc(50% - 10px);
  padding-left: 5px;
  padding-right: 5px;
}
/* line 287, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form {
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
/* line 297, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form .content-form-label, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form .content-form-label {
  width: calc(50% - 5px);
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  word-wrap: break-word;
}
/* line 309, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form .content-form-input, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form .content-form-input {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}
/* line 316, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form .content-form-input input, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form .content-form-input textarea, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form .content-form-input select, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form .content-form-input input, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form .content-form-input textarea, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form .content-form-input select {
  font-family: roboto_condensed;
  font-size: 15px;
  border-radius: 4px;
  border: solid gray 1px;
}
/* line 324, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form .content-form-input input[type="text"], .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form .content-form-input input[type="text"] {
  width: 100%;
  padding: 5px;
}
/* line 330, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form .content-form-input textarea, .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form .content-form-input textarea {
  resize: none;
  width: 100%;
  padding: 5px;
}
/* line 340, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form:nth-child(even), .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form:nth-child(even) {
  background-color: white;
}
/* line 344, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left .tab-content-form:nth-child(odd), .modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right .tab-content-form:nth-child(odd) {
  background-color: #F7F7F7;
}
/* line 350, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-left {
  float: left;
}
/* line 354, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-right {
  float: right;
}
/* line 358, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
/* line 364, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table table {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
}
/* line 371, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table table tr {
  width: 100%;
}
/* line 376, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table table tr.table-row-title td {
  background-color: #2c82d8;
  color: white;
}
/* line 382, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table table tr th {
  font-family: roboto_condensed_regular;
  border-bottom: solid gray 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
/* line 391, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 400, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table table tr:nth-child(even) {
  background-color: white;
}
/* line 404, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-body .body-tab-wrapper .tab-content-wrapper .tab-content .tab-content-table table tr:nth-child(odd) {
  background-color: #F7F7F7;
}
/* line 416, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-footer {
  width: calc(100% - 20px);
  padding: 10px;
  float: left;
  background-color: #E4E1D9;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 428, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-footer .modal-footer-left, .modal .modal-container .modal-footer .modal-footer-right {
  width: 50%;
}
/* line 431, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-footer .modal-footer-left button, .modal .modal-container .modal-footer .modal-footer-left input[type="submit"], .modal .modal-container .modal-footer .modal-footer-right button, .modal .modal-container .modal-footer .modal-footer-right input[type="submit"] {
  padding: 10px;
  font-family: roboto_condensed_regular;
  font-size: 15px;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  outline: none;
}
/* line 445, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-footer .modal-footer-left .button-red, .modal .modal-container .modal-footer .modal-footer-right .button-red {
  background-color: #DC3247;
}
/* line 449, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-footer .modal-footer-left .button-yellow, .modal .modal-container .modal-footer .modal-footer-right .button-yellow {
  background-color: #FCB03C;
}
/* line 454, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-footer .modal-footer-left {
  float: left;
  text-align: left;
}
/* line 458, /Users/bassamtiano1/Documents/Web/sicantik-backoffice/public/assets/sass/_modal.scss */
.modal .modal-container .modal-footer .modal-footer-right {
  float: left;
  text-align: right;
}

/* Table Width */
