body {
	margin: 0;
	padding: 0;
	float: none;
}

h1, h2, h3, h4, h5, p {
	padding: 0;
	margin: 0;
}

.print-page {
	height: 267mm;
	width: 100%;
		
	float: left;

	.header-surat {

		float: left;

		width: 100%;
		height: 30mm;

		padding-bottom: 5mm;
		margin-bottom: 5mm;

		border-bottom-style: double;

		table {
			.header-logo {
				width: 25mm;

				img {
					max-width: 24mm;
				}
			}

			.header-title {
				width: 170mm;

				.title-nama {
				
					width: 100%;
					float: right;
					h3 {
						text-align: center;
					}

					p {
						text-align: center;
						padding-bottom: 10px;
					}	
				}

				.title-alamat {
					float: right;
					p {
						text-align: center;
					}
				}
			}
		}
		
	}

	.isi-surat {
		float: left;
		width: 100%;

		.surat-title {
			width: 100%;
			padding-top: 5px;
			padding-bottom: 5px;
			text-align: center;
		}

		.surat-item {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			tr {
				th, td {

					border: solid black 1px;

					padding: 1.5mm;
					margin: 0;
				}
			}
		}

	}

}